.page{
  background-color: #FFFFFF;
}
.contain {
  width: 100%;
  height: 100%;
  background: #cc5478
}

.view {
  width: 100%;
  height: 380rpx;
  background: #cc5478;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-radius {
  width: 100%;
  height:  100%;
 }

 .view-item {
  width: 100%;
  height:  120rpx;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.view-item-image {
  width: 160upx;
  height: 160upx;
  background: #fff;
  border: 5upx solid #fff;
  border-radius: 50%;
  margin-top: 0upx;
  margin-left: 30upx;
  overflow: hidden;
}

.view-user{
  width:187upx;
  height: 120upx;
  position: relative;
  display: flex;
  flex-direction: column;
}

.view-icon{
  width:60upx;
  height: 60upx;
  position:absolute;left:30%;top:20%;
  }

  .view-icon-text{
    width:80upx;
    height: 60upx;
    position:absolute;left:32%;top:68%;
    color: rgb(77, 71, 71);
    font-size:28upx
    }

    .view-user-info-and-edit {
      margin-top: 25upx;
      width: 100%;
      height:  140rpx;
      position: relative;
      display: flex;
      flex-direction: row;

      align-items: left;
    }
    .view-user-info-edit {

      width: 15%;
      height:  40rpx;
border:1.5px solid;
border-radius:35px;
background:#fff;
position: relative;
display: flex;
align-items: center;
    }
    .view-user-info {

      width: 80%;
      height:  140rpx;
      position: relative;
      display: flex;
      flex-direction: column;

      align-items: left;
    }

    .user-info-name{
      margin-top: 0upx;
      margin-left: 30upx;
      color: rgb(8, 8, 8);
      font-size:32upx
      }
      .user-info-sign-name{
        margin-top: 5upx;
        margin-left: 30upx;
        color: rgb(77, 71, 71);
        font-size:26upx
        }

        .view-user-lable{
          width:100%;
          height: 50upx;
          position: relative;
          display: flex;
          background: #fff;
          flex-direction: row;
          align-items: left;
        }

.view-user-lable-item{
  width:140upx;
  height: 50upx;
  position: relative;
  display: flex;
  background: #fff;
  flex-direction: row;
  align-items: left;
}

.view-lable{
  margin-top: 10upx;
  margin-left: 30upx;
  width:30upx;
  height: 30upx;
  }

  .view-lable-text{
    margin-top: 10upx;
    margin-left: 8upx;
    color: rgb(8, 8, 8);
    font-size:22upx
    }

    .view-user-game {
      margin-top: 80upx;
      width: 100%;
      height:  70rpx;
      position: relative;
      display: flex;
      flex-direction: row;
    
      align-items: left;
    }

    .view-user-game-title {
      margin-left: 25upx;
      color: rgb(8, 8, 8);
      font-size:32upx
    }












.view-image-box{
  height: 179rpx;
  background: #962525;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-image-text {
  display: flex;
  width: 90%;
  height: 189rpx;
  justify-content:left;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.05);
  border-radius: 4px;
  border-radius: 4px;
  z-index: 1;
  margin-top: 110px;
}

.name{
  height: 25px;
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 20px;
}

.ID{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 40rpx;
}
.box{
  width: 100%;
}
.list{
  position: relative;
  display: flex;
  align-items: center;
  background-color:white;
  width: 100%;
  height: 56px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 24px;
  padding-top: 16px;
  border-bottom: 1px solid  #EEF0F3;
}
.list-URL{
  padding-left: 12px;
  padding-right: 12px;
  align-items: center;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.list-URL image{
  width: 100%;
  height: 20px;
  vertical-align: -2px;
}

.list-name {
  display: inline-block;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 24px;
}
.listimage{
  width: 16px;
  height: 16px;
  position: absolute;
  right: 36px;
}
.quit-main{
  margin-top: 36px;
  margin-left: 25px;
  margin-right: 20px;
  background-color:white;
  width: 85%;
  height: 46px;
  border: 1px solid #006EFF;
  border-radius: 24px;
  border-radius: 24px;
}
.quit-main-text{
  display: flex;
  justify-content: center;
  margin-top: 13px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #006EFF;
  letter-spacing: 0;
}
.arrow{
  width: 16px;
  height: 16px;
  float: right;
}
.pop-mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;/*  #ifdef  H5  */
  top: calc(88rpx + constant(safe-area-inset-top));
  top: calc(88rpx + env(safe-area-inset-top));/*  #endif  */
  right: 0;
  background: rgba(0,0,0,0.60);
  display: flex;
  align-items: center;
  }
.pop-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20rpx;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #EEF0F3;
  z-index: 1;

}
.text-title{
right: 100px;
left: 100px;
}
.pop-box-text{
  display: flex;
  padding-top: 10px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.agree{
  padding-top: 20rpx;
}
.pop-agree{
  padding-top: 20rpx;
  background: rgba(0,110,255,1);
  border-radius: 30px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  /* text-align: center; */
  font-weight: 500;
}
